pkgbase = aparapi
	pkgdesc = Syncleus's GPGPU API for data parallel Java using OpenCL.
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/Syncleus/aparapi-jni
	install = aparapi.install
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = gzip
	depends = java-environment
	provides = aparapi
	source = aparapi.sh
	source = aparapi.conf
	source = https://github.com/Syncleus/aparapi-jni/releases/download/v1.0.0/libaparapi-1.0.0-linux.tar.gz
	md5sums = 39b6041f8009694d208795cbfcff164e
	md5sums = d17068edb75da65a7ef620cbd1c876d4
	md5sums = cc28497f3befd355e4636c333ac6b9ab

pkgname = aparapi

